<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eighteen.fecom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeCom">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".SignUp2Activity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".BoardPostListActivity"/>
        <activity android:name=".DailyTalkActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".BoardPostActivity"/>
        <activity android:name=".PostingActivity"/>
        <activity android:name=".MyPageActivity"/>
        <activity android:name=".CheckNickActivity"/>
        <activity android:name=".CollegePostListActivity"/>
        <activity android:name=".CollegePostActivity"/>
    </application>

</manifest>
